In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
import pandas as pd
from pathlib import Path

In [3]:
output_dir = Path('./_output')

In [4]:
def chunk_iterator(file_path, chunk_size=100):
    """Reads the file in chunks (if large) to handle memory efficiently."""
    for chunk in pd.read_csv(file_path, chunksize=chunk_size):
        yield chunk

In [6]:
def merge_all_content():
    """Merges the pre-processed files and saves the merged result."""
    print("Merging pre-processed content...")

    # Initialize with the first file's content
    merged_df = pd.concat(chunk_iterator(output_dir / '/kaggle/input/preprocessed-cert/email_preprocessed.csv'))

    # Append content from the other files
    merged_df = pd.concat([merged_df, *chunk_iterator(output_dir / '/kaggle/input/preprocessed-cert/file_preprocessed.csv')])
    merged_df = pd.concat([merged_df, *chunk_iterator(output_dir / '/kaggle/input/preprocessed-cert/http_preprocessed.csv')])

    # Save the merged content to a file
    merged_df.to_pickle(output_dir / 'merged_content.pkl')
    print(f"Merged content saved to: {output_dir / 'merged_content.pkl'}")

In [8]:
from pathlib import Path

# Define the output directory path
output_dir = Path('./_output')

# Create the directory if it doesn't exist
output_dir.mkdir(parents=True, exist_ok=True)

print(f"Directory '{output_dir}' created successfully (or already exists).")

Directory '_output' created successfully (or already exists).

In [9]:
# Merge the pre-processed files
merge_all_content()

Merging pre-processed content...
Merged content saved to: _output/merged_content.pkl

In [10]:
import pandas as pd

# Load the pickle file
file_path = './_output/merged_content.pkl'

try:
    df = pd.read_pickle(file_path)
    # Display the first 5 rows
    print(df.head())
except FileNotFoundError:
    print(f"Error: File '{file_path}' not found.")
except Exception as e:
    print(f"An error occurred: {e}")

   Unnamed: 0                        id                 date     user  \
0         0.0  {I1O2-B4EB49RW-7379WSQW}  2010-01-02 06:36:41  HDB1666
1         1.0  {L7E7-V4UX89RR-3036ZDHU}  2010-01-02 06:40:02  HDB1666
2         2.0  {S8C2-Q8YX87DJ-0516SIWZ}  2010-01-02 06:42:48  HDB1666
3         3.0  {A1V9-O5BL46SW-1708NAEC}  2010-01-02 06:45:42  HDB1666
4         4.0  {N6R0-M2EI82DM-5583LSUM}  2010-01-02 06:47:07  HDB1666

  is_usual_pc  is_work_time subtype site_name
0        True         False   False       NaN
1        True         False   False       NaN
2        True         False    True       NaN
3        True         False   False       NaN
4        True         False   False       NaN

email file and http

In [12]:
df.isnull().sum()

Unnamed: 0            97
id                     0
date                   0
user                   0
is_usual_pc      2014980
is_work_time           0
subtype                0
site_name       13009840
dtype: int64

In [14]:
df.notnull().sum()

Unnamed: 0      13009840
id              13009937
date            13009937
user            13009937
is_usual_pc     10994957
is_work_time    13009937
subtype         13009937
site_name             97
dtype: int64

In [15]:
file = pd.read_csv('/kaggle/input/preprocessed-cert/file_preprocessed.csv')
file.head()

,Unnamed: 0,id,date,user,is_work_time,subtype
0,0,{F3E2-X3MV05YQ-3516SZDT},2010-01-02 07:19:41,SDH2394,False,.doc
1,1,{I6N1-Z7VL92UY-8715ESKQ},2010-01-02 07:21:30,SDH2394,False,.pdf
2,2,{G4X5-J7MH70FV-8936QVSB},2010-01-02 07:22:11,SDH2394,False,.doc
3,3,{M2M7-Z5ST21EU-6704NSKO},2010-01-02 07:24:06,SDH2394,False,.doc
4,4,{R0A9-O9XB25PE-9236MALV},2010-01-02 07:24:45,SDH2394,False,.pdf

In [17]:
logon = pd.read_csv("/kaggle/input/preprocessed-cert/logon_preprocessed.csv")
logon.head()

,Unnamed: 0,id,date,user,is_work_time,subtype
0,0,{F3X8-Y2GT43DR-4906OHBL},2010-01-02,DNS1758,False,Logon
1,1,{B4Q0-D0GM24KN-3704MAII},2010-01-02,DNS1758,False,Logoff
2,2,{T7J1-D4HK34KV-5476TCIJ},2010-01-02,DNS1758,False,Logon
3,3,{S4Y6-D8MQ05SA-0759HLIS},2010-01-02,DNS1758,False,Logoff
4,4,{F3P0-E7FH78CV-4874FRGZ},2010-01-02,DNS1758,False,Logon

In [19]:
email = pd.read_csv("/kaggle/input/preprocessed-cert/email_preprocessed.csv")
email.head()

,Unnamed: 0,id,date,user,is_usual_pc,is_work_time,subtype
0,0,{I1O2-B4EB49RW-7379WSQW},2010-01-02 06:36:41,HDB1666,True,False,False
1,1,{L7E7-V4UX89RR-3036ZDHU},2010-01-02 06:40:02,HDB1666,True,False,False
2,2,{S8C2-Q8YX87DJ-0516SIWZ},2010-01-02 06:42:48,HDB1666,True,False,True
3,3,{A1V9-O5BL46SW-1708NAEC},2010-01-02 06:45:42,HDB1666,True,False,False
4,4,{N6R0-M2EI82DM-5583LSUM},2010-01-02 06:47:07,HDB1666,True,False,False

In [20]:
http = pd.read_csv("/kaggle/input/preprocessed-cert/http_preprocessed.csv")
http.head()

,id,date,user,is_work_time,subtype,site_name
0,{V6H1-G9KX32SM-7653CHFK},2010-01-02 15:48:23,NDK3436,True,0,thedailybeast.com
1,{O2N5-H7GY38DI-0080TTEO},2010-01-02 14:15:35,BOV1609,True,0,btjunkie.org
2,{V7E8-F3NJ81BK-2574BRMB},2010-01-03 09:02:17,THF2879,True,2,monster.com
3,{Z8J6-O2WF68PA-6755RPHB},2010-01-02 15:03:34,ENS1748,True,0,sprint.com
4,{O2U3-V3KU54IY-8667TJBQ},2010-01-02 13:35:37,XBW2502,True,0,yousendit.com

In [21]:
device = pd.read_csv("/kaggle/input/preprocessed-cert/device_preprocessed.csv")
device.head()

,Unnamed: 0,id,date,user,is_work_time,subtype
0,0,{Z2Q8-K3AV28BE-9353JIRT},2010-01-02 07:17:18,SDH2394,False,Connect
1,1,{C7F1-G7LE60RU-2483DAXS},2010-01-02 07:22:42,JKS2444,False,Connect
2,2,{T9A4-D4RV69OF-1704NINW},2010-01-02 07:31:42,CBA1023,False,Connect
3,3,{S8L0-O6QQ15NL-0636OYNV},2010-01-02 07:33:28,GNT0221,False,Connect
4,4,{U0F1-R1FX27FM-6954TTVU},2010-01-02 07:33:55,JKS2444,False,Disconnect

In [22]:
psychometric = pd.read_csv("/kaggle/input/cert-insider-threat-detection-research/psychometric.csv")
psychometric.head()

              employee_name  user_id   O   C   E   A   N
0  Nicholas Fletcher Pruitt  NFP2441  34  39  38  36  21
1     Abraham Dante Rodgers  ADR1517  36  39  13  19  27
2     Medge Wilma Blackburn  MWB4000  27  14  44  22  34
3     Meghan Laurel Salazar  MLS2856  35  49  22  45  28
4          Beau Todd Romero  BTR2026  15  15  41  39  27

In [30]:
decoy= pd.read_csv("/kaggle/input/cert-insider-threat-detection-research/decoy_file.csv")
decoy.head()

            decoy_filename       pc
0  C:\LJE2413\795JW126.jpg  PC-0302
1          C:\QMU9BC38.pdf  PC-6566
2  C:\GIS1668\YPS1RSIK.jpg  PC-2606
3          C:\KD02AETE.pdf  PC-5393
4          C:\AUZTDD4J.jpg  PC-8753

In [31]:
users= pd.read_csv("/kaggle/input/cert-insider-threat-detection-research/users.csv")
users.head()

,employee_name,user_id,email,role,projects,business_unit,functional_unit,department,team,supervisor,start_date,end_date
0,Nicholas Fletcher Pruitt,NFP2441,Nicholas.Fletcher.Pruitt@dtaa.com,ITAdmin,NaN,1,1 - Adminstration,5 - Security,8 - ElectronicSecurity,Madison Charissa Malone,2009-12-01 00:00:00,2011-06-01
1,Abraham Dante Rodgers,ADR1517,Abraham.Dante.Rodgers@dtaa.com,ProductionLineWorker,NaN,1,5 - Manufacturing_Commercial,3 - Assembly,4 - AssemblyDept,Mark William Horne,2009-12-01 00:00:00,2011-06-01
2,Medge Wilma Blackburn,MWB4000,Medge.Wilma.Blackburn@dtaa.com,ProductionLineWorker,NaN,1,6 - Manufacturing_Government,3 - Assembly,14 - AssemblyDept,Hillary Zenaida Adkins,2009-12-01 00:00:00,2011-06-01
3,Meghan Laurel Salazar,MLS2856,Meghan.Laurel.Salazar@dtaa.com,ProductionLineWorker,NaN,1,6 - Manufacturing_Government,3 - Assembly,8 - AssemblyDept,Demetria Sage Melendez,2009-12-01 00:00:00,2011-06-01
4,Beau Todd Romero,BTR2026,Beau.Todd.Romero@dtaa.com,MechanicalEngineer,NaN,1,3 - ResearchAndEngineering_Government_Domestic,4 - Engineering,16 - TestAndEvalualtion,Elijah Valentine Fuentes,2009-12-01 00:00:00,2011-06-01

In [34]:
import pandas as pd

# Assuming logon and psychometric are already loaded as DataFrames
# Inner join on "id" from logon and "user_id" from psychometric
inner = pd.merge(logon, http, left_on='id', right_on='id', how='inner')

# Display the first few rows of the merged DataFrame
print(inner.head())

Empty DataFrame
Columns: [Unnamed: 0, id, date_x, user_x, is_work_time_x, subtype_x, date_y, user_y, is_work_time_y, subtype_y, site_name]
Index: []

In [35]:
df

,Unnamed: 0,id,date,user,is_usual_pc,is_work_time,subtype,site_name
0,0.0,{I1O2-B4EB49RW-7379WSQW},2010-01-02 06:36:41,HDB1666,True,False,False,NaN
1,1.0,{L7E7-V4UX89RR-3036ZDHU},2010-01-02 06:40:02,HDB1666,True,False,False,NaN
2,2.0,{S8C2-Q8YX87DJ-0516SIWZ},2010-01-02 06:42:48,HDB1666,True,False,True,NaN
3,3.0,{A1V9-O5BL46SW-1708NAEC},2010-01-02 06:45:42,HDB1666,True,False,False,NaN
4,4.0,{N6R0-M2EI82DM-5583LSUM},2010-01-02 06:47:07,HDB1666,True,False,False,NaN
...,...,...,...,...,...,...,...,...
92,NaN,{N6Y0-H4IB70NF-1496XNCD},2010-01-02 08:40:33,IRS1337,NaN,True,0,feedburner.com
93,NaN,{J4P8-G0KW58DG-4921JKSP},2010-01-02 08:48:48,TJD0106,NaN,True,0,match.com
94,NaN,{Q8Q8-F4AW43PD-7554HREP},2010-01-02 11:19:42,BOR2387,NaN,True,0,charter.net
95,NaN,{H7T2-F4EU77WZ-6405DHOG},2010-01-02 08:21:59,ROR3483,NaN,True,0,imdb.com
96,NaN,{G7C9-H7FP71QY-7447XZXZ},2010-01-02 13:21:15,LXE2139,NaN,True,0,dailymotion.com

In [36]:
df.to_csv('merged_content.csv')